@charset "UTF-8";

/*  imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ddd8d8;
    color: #141313;
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-image: url('backgroundimg.jpg');
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;
  }

/* add a margin, color text-decoration  */
h1, h2, h3, h4 {
    margin-bottom: 0.2em;
    color: #000000;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  a {
    color: #5321dc;
    text-decoration: none;
    text-transform: none;
    padding: 0;
  }
  
  a:hover {
    text-decoration: underline;
  }

  /* Do some styling for the header */
header {
    background-color: #acd0da;
    color: black;
    text-align: center;
    padding: 2rem 2rem;
    margin: 3rem;
  }
  
  /*  do some styling for h1 and h2 like font-size, margin, padding, color or anything else */
  header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  
  header h2 {
    font-size: 1.7rem;
    font-style: normal;
    text-align: center;
  }

  /* add font-size, back-ground color, and do more styling for the nav */
  nav {
    background-color: #88939d;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-transform: uppercase;
  }
  
  nav ul {
    display:flex;
    flex-wrap:nowrap;
    text-align: center;
    list-style: none;
    padding: 1rem;
    justify-content: center;
  }

  /* do some styling to display well and add styling for the link to change the color when it's visited */
  nav li {
    margin: 1rem 0rem;
    padding: 0;
  }
  
  nav a {
    color: rgb(34, 32, 32);
    padding: 1rem 0.7rem;
    border-radius: 1.5px;
    margin:auto;
    text-shadow: none;
  }
  
  nav a:hover {
    background-color: rgba(170, 192, 205, 0.2);
  }
  
  nav a:visited {
    color: #acd0da;
  }

  /* do styling for the media query */
  @media (min-width: 768px) {
    nav ul {
      flex-direction:inherit; 
      justify-content: center;
    
    }
  
    .container {
       gap: 1rem;
    }
  }

  /* do styling for the main content */
  main {
    background-color: #dbdbdb;
    padding: 1rem;
    margin-top:auto;
  }

  .container {
    max-width: 860px;
    margin: auto;
    padding: 0;
  }

  /* do styling for the footer and aside */
.page-footer {
    background-color: #9c9d9d;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  
  .page-footer a {
    color: #000000;
    padding: 0;
    margin: 0;
  }
  